################################################################################
# Данный GITIGNORE-файл был автоматически создан Microsoft(R) Visual Studio.
################################################################################

/.vs/c-practic/v16/Server/sqlite3
/c-practic/bin/Debug/c-practic.exe
/c-practic/bin/Debug/c-practic.exe.config
/c-practic/bin/Debug/c-practic.pdb
/c-practic/obj/Debug/c-practic.csprojAssemblyReference.cache
/c-practic/obj/Debug/c-practic.exe
/c-practic/obj/Debug/c-practic.pdb
/c-practic/obj/Debug/DesignTimeResolveAssemblyReferences.cache
/c-practic/obj/Debug/c-practic.exe
/c-practic/obj/Debug/c-practic.pdb
/c-practic/obj/Debug/DesignTimeResolveAssemblyReferences.cache
/c-practic/obj/Debug/DesignTimeResolveAssemblyReferences.cache
/c-practic/obj/Debug/c-practic.exe
/c-practic/obj/Debug/c-practic.pdb
/c-practic/obj/Debug/DesignTimeResolveAssemblyReferences.cache
